#ScrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #e35633;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

#ScrollToTopBtn i {
    font-size: 30px;
}

#ScrollToTopBtn.show {
    display: block;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

#ScrollToTopBtn:hover {
    transition: all 0.3s ease-in-out;
    background-color: #ff3300;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 350px) {
    #ScrollToTopBtn,
    #ScrollToTopBtn.show {
        display: none;
    }
}

#developed-by {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-optical-sizing: auto;
    font-weight: 400;
    color: #000000;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-transform: capitalize;
    margin: 0;
    padding: 10px 0 10px 0;
    background-color: #FDC360;
    border-top: 1px solid #000000;
}

#developed-by a {
    text-decoration: none;
    color: #000000;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-optical-sizing: auto;
    font-weight: 400;
    color: #000000;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    text-transform: capitalize;
    cursor: pointer;
}

#developed-by a:hover {
    color: #e35633;
}

@media screen and (max-width: 500px) {
    #developed-by {
        font-size: 0.8rem;
    }
    #developed-by a {
        font-size: 0.8rem;
    }
}